table,
th,
td {
  border: 1px solid black;
}
table {
  width: 60vw;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2rem;
}
td {
  text-align: center;
}
th,
td {
  width: 7rem;
}
form {
  border: 1px solid black;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: center;
  width: 55vw;
  padding: 2%;
  margin: 0 auto 5rem auto;
}
label {
  font-size: 1.2rem;
}
input,
select {
  width: 10rem;
  height: 1.5rem;
  border-radius: 5px;
}
.left {
  margin-left: 1rem;
}
.leftside {
  margin-left: 1.5rem;
}
form > div > button {
  width: 4rem;
  height: 2rem;
  background: rgb(54, 169, 247);
  color: white;
  cursor: pointer;
}
.editsbtn {
  color: white;
  background: green;
  width: 4rem;
  cursor: pointer;
}
.deletebtn {
  color: white;
  background: red;
  width: 4rem;
  margin-left: 10px;
  cursor: pointer;
}
h6 {
  text-align: center;
  font-size: 2rem;
  margin: 2%;
}
